.progress {
    height: 30px;
}

.generalProgressBarContainer {
    width: 80%;
    position: relative;
}

.progressBarContainer{
    width: 100%;
}

.progressBarTextContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}

.progressBarText {
    font-size: 20px;
    color: black;
}

.progressBarTextContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.progressBarText{
    font-size: 20px;
    color: black;
}